<p>phase2 works!</p>
<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">{{ element.name }}</div>
      <div class="panel-body">
        <p>
          <strong *ngIf="element.type === 'red'" style="color: red">{{
            element.content
          }}</strong>
          <strong *ngIf="element.type === 'blue'" style="color: blue">{{
            element.content
          }}</strong>
          {{ element.content }}
          <!--<em>{{ element.content }}</em>-->
          <!--<em *ngIf="element.type === 'blueprint'">{{ element.type }}</em>-->
        </p>
        <label>MENA ASSISTANCE 1</label>
      </div>
    </div>
  </div>
  <label>MENA ASSISTANCE 2</label>
</div>
